jupyter
pandas
numpy
scikit-learn
matplotlib
seaborn
nltk
gensim
emoji
spacy
fasttext-wheel
transformers
convokit
datasets
pytorch_lightning
torch
k_means_constrained
yellowbrick
tqdm
langdetect
scipy